@import "../node_modules/primeflex/primeflex.css";

@import "primeicons/primeicons.css";
/* @import "theme.css"; */
@import "theme-good.css";
/* @import "primevue/resources/themes/lara-dark-teal/theme.css"; */
@import "primevue/resources/primevue.min.css";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  border-radius: 6px;
}

.p-breadcrumb {
  border: 0;
  background: transparent;
}

.p-menuitem-text {
  color: var(--primary-600) !important;
  text-decoration: underline !important;
}

.router-link-active-exact .p-menuitem-text {
  color: white !important;
  text-decoration: none !important;
}

@media screen and (max-width: 960px) {
  .p-component {
    font-size: 0.8rem;
  }
}
/* .p-datatable-thead th:first-child.round {
  border-top-left-radius: 1rem!important;
}

.p-datatable-thead th:last-child.round {
  border-top-right-radius: 1rem!important;
}

.p-datatable-thead th {
  background-color: var(--gray-50)!important;
  color: var(--gray-900)!important;
}


.p-datatable-tfoot td:first-child {
  border-bottom-left-radius: 1rem!important;
}

.p-datatable-tfoot td:last-child {
  border-bottom-right-radius: 1rem!important;
}

.p-datatable-tfoot td {
  background-color: var(--gray-50)!important;
  color: var(--gray-900)!important;
} */

.bg-gold {
  background-color: rgb(255 207 36);
}

.bg-silver {
  background-color: rgb(192 192 192);
}

.bg-bronze {
  background-color: rgb(243 149 5);
}

.border-gold {
  border-color: rgb(255 207 36);
}

.border-silver {
  border-color: rgb(192 192 192);
}

.border-bronze {
  border-color: rgb(243 149 5);
}

.card {
  background: var(--surface-b);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.bg-surface {
  background: var(--surface-b) !important;
}

.text-dark {
  color: var(--surface-b) !important;
}

.bg-light {
  background-color: #eaeaea !important;
}

.short-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 30vw;
}

.leader-badge {
  min-width: 2rem;
  border-width: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.p-datatable .p-column-header-content {
  justify-content: center;
}

.p-datatable .text-left .p-column-header-content {
  justify-content: start;
}

.p-multiselect-header .p-checkbox.p-component {
  flex-grow: 1;
}

.p-multiselect-header .p-checkbox.p-component:after {
  content: "Select All";
  margin-left: 0.5rem;
}

#logo_image {
  width: 48px;
}

.p-datatable-thead tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

.p-datatable-thead tr:last-child th:last-child {
  border-top-right-radius: 6px;
}

.p-datatable-tfoot tr td:last-child {
  border-bottom-right-radius: 6px;
}

.p-datatable-tfoot tr td:first-child {
  border-bottom-left-radius: 6px;
}

.dp__menu {
  --dp-input-padding: 0.75rem 30px 6px 12px;
}

.picker-container .dp__menu.dp__theme_dark, .dp__menu.dp__theme_dark {
  --dp-background-color: #2f2f2f;
  --dp-text-color: #ffffff;
  --dp-hover-color: #97ef1b;
  --dp-hover-text-color: #ffffff;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: #97ef1b;
  --dp-primary-text-color: #2f2f2f;
  --dp-secondary-color: #a9a9a9;
  --dp-border-color: #2d2d2d;
  --dp-menu-border-color: #2d2d2d;
  --dp-border-color-hover: #97ef1b;
  --dp-disabled-color: #737373;
  --dp-scroll-bar-background: #212121;
  --dp-scroll-bar-color: #484848;
  --dp-success-color: #00701a;
  --dp-success-color-disabled: #428f59;
  --dp-icon-color: #959595;
  --dp-danger-color: #e53935;
  --dp-highlight-color: rgba(0, 92, 178, 0.2);
}

.dp__input {
  background-color: #2f2f2f !important;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
  border-radius: 6px !important;
  padding-right: 12px !important;
}

.dp__input:hover {
  border-color: #97ef1b !important;
}
